In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
csv_file = "../Resources/sp.csv"
sp_data_df = pd.read_csv(csv_file)
sp_data_df.head()

        Date     Price      Open      High       Low Vol. Change %
0   1-Oct-20  3,380.80  3,385.87  3,397.18  3,361.39    -    0.53%
1  30-Sep-20  3,363.00  3,341.21  3,393.56  3,340.47    -    0.83%
2  29-Sep-20  3,335.47  3,350.92  3,357.92  3,327.54    -   -0.48%
3  28-Sep-20  3,351.60  3,333.90  3,360.74  3,332.91    -    1.61%
4  25-Sep-20  3,298.46  3,236.66  3,306.88  3,228.44    -    1.60%

In [7]:
new_sp_data_df = sp_data_df[['Date', 'Price', 'Open', 'High', 'Low', 'Change %']].copy()
new_sp_data_df.head()

        Date     Price      Open      High       Low Change %
0   1-Oct-20  3,380.80  3,385.87  3,397.18  3,361.39    0.53%
1  30-Sep-20  3,363.00  3,341.21  3,393.56  3,340.47    0.83%
2  29-Sep-20  3,335.47  3,350.92  3,357.92  3,327.54   -0.48%
3  28-Sep-20  3,351.60  3,333.90  3,360.74  3,332.91    1.61%
4  25-Sep-20  3,298.46  3,236.66  3,306.88  3,228.44    1.60%